{% extends 'base.html.twig' %}

{% block title %}Главная страница!{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mb-5 mt-3">
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Метод Вим Хофа</h5>
                        <h6 class="card-subtitle text-muted">Вим Хоф — известный как «Ледяной человек».</h6>
                        <img class="img-fluid d-flex mx-auto my-4" src="../assets/img/wim/wim-hoff-card1.jpg"
                             alt="Card image cap">
                        <p class="card-text">Благодаря своим способностям переносить крайне низкие температуры,
                            контролировать имунную и нервную системы организма, что подтверждается научными опытами, и
                            исследованиями, как и неоднократными мировыми рекордами.</p>
                        <a href="/wim" class="btn rounded-pill btn-outline-primary">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Более 60 миллионов просмотров на YouTube</h5>
                        <h6 class="card-subtitle text-muted">для <a href="https://youtu.be/tybOi4hjZFQ">английской
                                версии</a>, </h6>
                    </div>
                    <img class="img-fluid" src="../assets/img/wim/wim-hoff-card22.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text ">и более 6 млн для <a href="https://youtu.be/mD3QwerSmLs">русской</a></p>
                    </div>
                    <img class="img-fluid" src="../assets/img/wim/wim-hoff-card2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text ">Десятки тысяч положительных <a href="https://youtu.be/mD3QwerSmLs">комментариев
                                на YouTube</a></p>
                        <a href="/wim" class="btn rounded-pill btn-outline-primary">Перейти у практике</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <img class="card-img-top" src="../assets/img/wim/wim-hoff-card3.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Раскрой свой потенциал</h5>
                        <p class="card-text">
                            Выполняй дыхательные практики и сохраняй свой прогресс на сайте, это бесплатно.
                        </p>
                        <a href="/wim" class="btn rounded-pill btn-outline-primary">Перейти у практике</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
